.additional-demands {
  padding: 0;
  margin: 0;

  position: relative;
  color: $font-color;
  border: none;

  &::before {
    content: "";
    position: absolute;
    display: block;

    top: 15px;

    height: 2px;
    width: 100vw;
    margin-left: calc((100vw - 96.9%) / -2);

    z-index: -1;
    background-color: hsl(97, 53%, 47%);

    @media (min-width: $tablet-width) {
      top: 23px;
      margin-left: calc((100vw - 97.3%) / -2);
    }

    @media (min-width: 1000px) {
      margin-left: calc((100vw - 98.2%) / -2);
    }

    @media (min-width: $desktop-width) {
      margin-left: calc((100vw - 98.8%) / -2);
    }
  }
}

.additional-demands__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 0 30px;

  width: $mobile-width-only - $mobile-gap - $mobile-gap;

  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 0 40px 65px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width - $desktop-gap - $desktop-gap;
    padding: 0 0 75px;
    margin: 0 auto;
  }
}

.additional-demands__title {
  margin: 0;
  margin-left: -20px;
  padding: 0 20px 36px;

  width: fit-content;

  background-color: $white-color;

  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 24px;
  line-height: 26px;
  color: $font-color;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    margin-left: -40px;
    padding: 0 40px 56px;
  }
}

.additional-demands__sweetener,
.additional-demands__milk,
.additional-demands__vitamins,
.additional-demands__water {
  position: relative;

  min-height: 30px;

  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 18px;
  color: $font-color;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.additional-demands__sweetener-input,
.additional-demands__water-input,
.additional-demands__vitamins-input,
.additional-demands__milk-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}


.additional-demands__control-mark {
  position: absolute;

  width: 30px;
  min-height: 30px;

  left: 0;
  top: -2px;

  @media (min-width: $tablet-width) {
    width: 40px;
    min-height: 40px;

    left: 0;
    top: -2px;
  }

  @media (min-width: $tablet-width) {
    left: 1px;
    top: 2px;
  }

  outline: 0;

  border: 1px solid rgba(205, 205, 205, 1);
  background-color: hsl(0, 0%, 100%);
}


.additional-demands__control-label {
  position: relative;
  top: 4px;
  left: 47px;

  @media (min-width: $tablet-width) {
    top: 7px;
    left: 60px;
  }
}


.additional-demands__sweetener-input:checked + .additional-demands__control-mark::after,
.additional-demands__water-input:checked + .additional-demands__control-mark::after,
.additional-demands__vitamins-input:checked + .additional-demands__control-mark::after,
.additional-demands__milk-input:checked + .additional-demands__control-mark::after {
  position: absolute;
  display: block;

  content: url("../img/additional-demands-tick.svg");

  width: 14px;
  height: 14px;

  left: 3px;
  top: 4px;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;

    top: 4px;
    left: 7px;
  }

  z-index: 2;
}

.additional-demands__sweetener-input:disabled + .additional-demands__control-mark,
.additional-demands__water-input:disabled + .additional-demands__control-mark,
.additional-demands__vitamins-input:disabled + .additional-demands__control-mark,
.additional-demands__milk-input:disabled + .additional-demands__control-mark,
.additional-demands__sweetener-input:disabled ~ .additional-demands__control-label,
.additional-demands__water-input:disabled ~ .additional-demands__control-label,
.additional-demands__vitamins-input:disabled ~ .additional-demands__control-label,
.additional-demands__milk-input:disabled ~ .additional-demands__control-label {
  opacity: 0.3;
}

.additional-demands__sweetener-input:focus + .additional-demands__control-mark,
.additional-demands__water-input:focus + .additional-demands__control-mark,
.additional-demands__vitamins-input:focus + .additional-demands__control-mark,
.additional-demands__milk-input:focus + .additional-demands__control-mark,
.additional-demands__sweetener-input:focus ~ .additional-demands__control-label,
.additional-demands__water-input:focus ~ .additional-demands__control-label,
.additional-demands__vitamins-input:focus ~ .additional-demands__control-label,
.additional-demands__milk-input:focus ~ .additional-demands__control-label {
  opacity: 0.7;
}
