.advantages {
  counter-reset: advantages;

  margin: 0 auto 49px;
  padding: 0;
  width: $mobile-width-only - $mobile-gap - $mobile-gap;

  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: $desktop-width - $desktop-gap - $desktop-gap;

    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.advantages__header {
  margin: 0 0 43px;

  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 36px;
  line-height: 36px;
  color: $font-color;

  @media (min-width: $tablet-width) {
    margin: 0 0 71px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 72px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 80px;
  }

  @media (min-width: 1000px) {
    column-gap: 30px;
  }
}

.advantages__item {
  position: relative;

  z-index: 2;
  margin: 0;

  @media (min-width: $tablet-width) {
    height: auto;
    text-align: left;

    &:nth-child(1n) {
      margin-right: 0;
    }

    &:nth-child(2n) {
      margin-right: 75px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &::before {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;

      position: absolute;
      top: -40px;
      left: 50%;

      counter-increment: advantages;
      content: counter(advantages);
      z-index: 1;

      font-family: $font, "Arial", sans-serif;
      font-style: $font-style;
      font-weight: $font-weight;
      font-size: 280px;
      line-height: 280px;
      color: hsl(0, 0%, 95%);
    }
  }
}

.advantages__description {
  padding: 3px 0;
  margin: 0;

  color: #444444;

  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.advantages__item-nutritional {
  background: url("../img/icon-nutrition.svg") no-repeat left;
  background-size: 60px 60px;
  background-position-y: 0;
  padding: 0;
  padding-left: 82px;

  @media (min-width: $tablet-width) {
    width: 230px;
    background-size: 80px 80px;
    padding: 111px 0 57px;
  }
}

.advantages__item-easy-to-use {
  background: url("../img/icon-easy-to-use.svg") no-repeat left;
  background-position-y: 0;
  background-size: 60px 60px;
  padding: 0;
  padding-left: 82px;

  @media (min-width: $tablet-width) {
    width: 246px;
    background-size: 80px 80px;
    padding: 111px 0 57px;
  }

  @media (min-width: $desktop-width) {
    width: 220px;
  }
}

.advantages__item-fast-tu-use {
  background: url("../img/icon-ready-to-use.svg") no-repeat left;
  background-position-y: 0;
  background-size: 60px 60px;
  padding: 0;
  padding-left: 82px;

  @media (min-width: $tablet-width) {
    width: 226px;
    background-size: 80px 80px;
    padding: 111px 0 57px;
  }
}

.advantages__item-results {
  background: url("../img/icon-fast-result.svg") no-repeat left;
  background-position-y: 0;
  background-size: 60px 60px;
  padding: 0;
  padding-left: 82px;

  @media (min-width: $tablet-width) {
    width: 249px;
    background-size: 80px 80px;
    padding: 111px 0 57px;
  }
}
