.button {
  display: block;
  padding: 11px 26px;

  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  text-transform: uppercase;
  text-decoration: none;

  text-align: center;

  cursor: pointer;

  background-color: rgb(104, 183, 56);
  color: $white-color;

  &:hover {
    background-color: hsl(97, 57%, 43%);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
