.catalog-other-goods {
  padding: 0;
  margin: 0;

  position: relative;
  color: $font-color;
  border: none;

  &::before {
    content: "";
    position: absolute;
    display: block;

    top: 15px;

    height: 2px;
    width: 100vw;
    margin-left: calc((100vw - 96.9%) / -2);

    z-index: -1;
    background-color: hsl(97, 53%, 47%);


    @media (min-width: $tablet-width) {
      top: 23px;
      margin-left: calc((100vw - 97.3%) / -2);
    }

    @media (min-width: 1000px) {
      margin-left: calc((100vw - 98.1%) / -2);
    }

    @media (min-width: $desktop-width) {
      margin-left: calc((100vw - 98.7%) / -2);
    }
  }
}

.catalog-other-goods__section-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  width: $mobile-width-only - $mobile-gap - $mobile-gap;

  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: $desktop-width - $desktop-gap - $desktop-gap;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.catalog-other-goods__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    column-gap: 79px;

    margin-bottom: 11px;
  }
}

.catalog-other-goods__header {
  margin: 0;
  margin-left: -20px;
  padding: 0 20px 36px;

  width: fit-content;

  background-color: $white-color;

  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 24px;
  line-height: 24px;
  color: $font-color;

  grid-column-start: 1;
  grid-column-end: -1;

  @media (min-width: $tablet-width) {
    padding: 0 40px 36px;
    margin: 0 0 44px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 -40px 40px;
    padding: 0 40px 37px;
  }
}

.catalog-other-goods__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-other-goods__item {
  display: grid;
  grid-template-rows: auto auto auto;

  margin: 0;
  padding: 13px 0 6px;

  align-items: center;
  border-bottom: 1px solid hsl(0, 0%, 80%);

  &:nth-child(1) {
    border-top: 1px solid hsl(0, 0%, 80%);
  }

  &:last-child {
    @media (min-width: $mobile-width-only) {
      margin-bottom: 40px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 64px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 140px;

    border-left: 1px solid hsl(0, 0%, 80%);
    border-right: 1px solid hsl(0, 0%, 80%);

    padding: 18px 35px 27px 41px;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr auto;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 287px 290px 245px;
    grid-column-gap: 38px;
    grid-template-rows: auto;
    min-height: 55px;
    padding: 15px 0;

    border-left: none;
    border-right: none;
  }
}

.catalog-other-goods__item-header {
  margin: 0;
  padding-bottom: 11px;

  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 16px;
  color: #222222;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 0 0 13px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 2px;
  }
}

.catalog-other-goods__link {
  text-decoration: none;
}

.catalog-other-goods__info {
  margin: 0;
  padding: 0 0 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: #444444;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    padding: 0 0 14px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding: 12px 0 4px;
  }
}

.catalog-other-goods__info-item-weight {
  margin: auto 0;
  padding: 0;
}

.catalog-other-goods__info-item-price {
  margin: auto 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.catalog-other-goods__item-button {
  width: auto;
  margin-bottom: 10px;

  padding: 10px auto;

  @media (min-width: $tablet-width) {
    width: auto;
    grid-column-start: 1;
    grid-column-end: -1;

    font-size: 16px;

    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    grid-column: 3;
  }
}

.catalog-other-goods__promotion {
  display: block;

  position: relative;
  padding: 0;
  width: $mobile-width-only - $mobile-gap - $mobile-gap;
  background: hsl(97, 53%, 47%) url("../img/gift-background-mobile.jpg") center no-repeat;
  background-size: 100% auto;

  margin: 0 0 35px;

  @media (max-width: 767px) and (min-resolution: 2dppx) {
    background: hsl(97, 53%, 47%) url("../img/gift-background-mobile@2x.jpg") center no-repeat;
    background-size: 100% auto;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    background: hsl(97, 53%, 47%) url("../img/gift-background-tablet.jpg") no-repeat;
    background-size: 100% auto;

    margin: 0 0 76px;
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background: hsl(97, 53%, 47%) url("../img/gift-background-tablet@2x.jpg") no-repeat;
    background-size: 100% auto;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    background: hsl(97, 53%, 47%) url("../img/gift-background-desktop.jpg") center no-repeat;
    background-size: 100% auto;
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background: hsl(97, 53%, 47%) url("../img/gift-background-desktop@2x.jpg") center no-repeat;
    background-size: 100% auto;
  }

  &::after {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    top: 58px;

    content: "";
    display: block;
    z-index: 1;
    width: 83px;
    height: 83px;
    background: url("../img/icon-gift.svg") no-repeat center;

    color: $white-color;

    @media (min-width: $tablet-width) {
      left: 120px;
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
    }

    @media (min-width: $desktop-width) {
      left: 50%;
      top: 64px;
      transform: translateX(-50%);
    }
  }
}

.catalog-other-goods__promotion-text {
  display: block;

  color: $white-color;
  font-size: 16px;
  line-height: 20px;

  padding: 187px 61px 43px 58px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 70px 17% 70px 60%;

    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding: 189px 41px 43px 40px;
    text-align: center;

    margin: 0;
  }
}
