.experience {
  position: relative;
  background-color: hsl(0, 0%, 95%);

  @media (min-width: $tablet-width) {
    background-color: $white-color;

    &::before {
      display: block;
      position: absolute;
      content: "";

      z-index: 0;
      top: 618px;

      width: 100vw;
      margin-left: calc((100vw - 97.5%) / -2);
      height: 462px;

      background-color: hsl(0, 0%, 92%);
    }
  }

  @media (min-width: 900px) {
    background-color: $white-color;

    &::before {
      display: block;
      position: absolute;
      content: "";

      z-index: 0;
      top: 572px;

      width: 100vw;
      margin-left: calc((100vw - 98.2%) / -2);
      height: 462px;

      background-color: hsl(0, 0%, 92%);
    }
  }

  @media (min-width: 1000px) {
    background-color: $white-color;

    &::before {
      display: block;
      position: absolute;
      content: "";

      z-index: 0;
      top: 520px;

      width: 100vw;
      height: 465px;

      background-color: hsl(0, 0%, 92%);
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $white-color;

    &::before {
      display: none;
    }
  }
}

.experience__background-wrapper {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0 0 265px 0;
  width: 100vw;
  max-width: 100%;

  @media (min-width: $tablet-width) {

    padding-bottom: 670px;
  }

  @media (min-width: $desktop-width) {
    background-color: hsl(0, 0%, 95%);
    padding-bottom: 20px;
  }
}

.experience__position-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 40px;
  width: $mobile-width-only - $mobile-gap - $mobile-gap;

  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: $desktop-width - $desktop-gap - $desktop-gap;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 200px;

    margin-bottom: 45px;
  }
}

.experience .experience__header {
  margin: 0 auto;
  padding: 25px 0 40px;

  background-color: hsl(0, 0%, 95%);

  width: $mobile-width-only - $mobile-gap - $mobile-gap;

  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: $desktop-width - $desktop-gap - $desktop-gap;
    padding: 43px 0 63px;
    margin: 0 auto;

    background-color: $white-color;
  }

  @media (min-width: $desktop-width) {
    padding: 0 360px 76px 0;
    margin: 0 auto;
  }
}

.experience__header {
  padding: 25px 0 40px;

  grid-column: 1/-1;

  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 36px;
  line-height: 40px;
  color: $font-color;
  background-color: $white-color;

  text-align: left;

  @media (min-width: $tablet-width) {
    padding: 41px 0 63px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 0 76px;
  }
}

.experience__description {
  width: auto;
  margin: 0;
  padding: 0 0 20px;
  color: #444444;

  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    padding: 0 0 45px;
    width: 99%;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    padding: 70px 0 69px;
  }
}

.experience__quantity-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
  }
}

.experience__result-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    column-gap: 42px;
  }
}

.experience__result {
  display: block;
  margin: 0;
  padding: 13px 20px 17px;

  width: 124px;

  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 3px;

  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 24px;
  line-height: 24px;
  color: $font-color;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 15px 27px 17px;
    width: 162px;

    font-size: 30px;
    line-height: 37px;
  }
}

.experience__result-weight {
  position: relative;
}

.experience__result-weight-description {

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;

  width: 77px;

  padding: 0 12px;
  background-color: hsl(0, 0%, 95%);

  @media (min-width: $tablet-width) {
    width: auto;
    background-color: $white-color;
    white-space: nowrap;
    transform: translateY(-50%) translateX(-50%);
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: hsl(0, 0%, 95%);
  }
}

.experience__result-days {
  position: relative;
}

.experience__result-days-description {

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;

  width: 90px;

  padding: 0 14px;
  background-color: hsl(0, 0%, 95%);

  @media (min-width: $tablet-width) {
    background-color: $white-color;
    width: auto;
    white-space: nowrap;
    transform: translateY(-50%) translateX(-50%);
    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: hsl(0, 0%, 95%);
  }
}

.experience__example-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5px;

  margin: 12px 0;

  @media (min-width: $tablet-width) {
    width: 200px;
    justify-content: flex-end;
    column-gap: 0;
    margin: 10px 0;
  }

  @media (min-width: 1000px) {
    width: 366px;
    justify-content: space-between;
  }
}

.experience__example-price {
  display: block;
  margin: 0;
  padding: 22px 0 0;

  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 14px;
  line-height: 20px;
  color: $font-color;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 7px 0 4px 26px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 40px 0 0;
  }
}
