.intro {
  margin: 0 auto;
  padding: 27px 0 20px;

  background-color: $white-color;

  background-image: url("../img/intro-image-mobile.png"),
    linear-gradient(
      to right,
      rgba(104, 183, 56, 0.85) 0,
      rgba(104, 183, 56, 0.85) 100%
    ),
    url("../img/intro-background-mobile.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position-x: center, center;
  background-position-y: 167px, 0, 0;
  background-size: 280px 270px, 100vw 302px, 320px 302px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-image-mobile@2x.png"),
      linear-gradient(
        to right,
        rgba(104, 183, 56, 0.85) 0,
        rgba(104, 183, 56, 0.85) 100%
      ),
      url("../img/intro-background-mobile@2x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
  }

  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: $desktop-width - $desktop-gap - $desktop-gap;

    padding: 34px 198px 526px 90px;

    text-align: left;

    background: $white-color url("../img/intro-image-tablet.png") no-repeat
      center;
    background-size: 709px 609px;
    background-position-y: 235px;

    @media (min-resolution: 2dppx) {
      background: $white-color url("../img/intro-image-tablet@2x.png") no-repeat
        center;
      background-size: 709px 609px;
      background-position-y: 235px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 100%;

    padding: 0;
    margin: -200px auto 82px;

    background-image: url("../img/index-image-desktop.png"),
      linear-gradient(
        to right,
        transparent 0,
        transparent 50%,
        rgba(104, 183, 56, 0.85) 50%,
        rgba(104, 183, 56, 0.85) 100%
      ),
      url("../img/index-background-desktop.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: calc(50% + 117px) 209px, 0, 50vw 60px;
    background-size: 552px 499px, 100vw, 1044px 696px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-image-desktop@2x.png"),
        linear-gradient(
          to right,
          transparent 0,
          transparent 50%,
          rgba(104, 183, 56, 0.85) 50%,
          rgba(104, 183, 56, 0.85) 100%
        ),
        url("../img/index-background-desktop@2x.jpg");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: calc(50% + 117px) 209px, 0, 50vw 60px;
      background-size: 552px 499px, 100vw, 1044px 696px;
    }
  }
}

.intro__wrapper {
  @media (min-width: $desktop-width) {
    width: $desktop-width - $desktop-gap - $desktop-gap;
    margin: 0 auto;

    padding-top: 227px;
    padding-bottom: 182px;
  }
}

.intro__header {
  margin: 0;

  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 36px;
  line-height: 36px;
  color: $white-color;

  text-align: center;

  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $font-color;

    text-align: left;

    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;

    padding: 65px 0 0 80px;
  }
}

.intro__description {
  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 14px;
  line-height: 14px;
  color: $white-color;

  margin-bottom: 302px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 20px;
    line-height: 20px;
    color: $font-color;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;

    padding-left: 81px;
  }
}

.intro__button {
  margin: 0 auto;
  width: $mobile-width-only - $mobile-gap - $mobile-gap;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 244px;

    padding: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
  }
}
