.owner-data {
  position: relative;
  color: $font-color;
  margin: 0;
  padding: 0;
  border: none;

  &::before {
    content: "";
    position: absolute;
    display: block;

    top: 15px;

    height: 2px;
    width: 100vw;
    margin-left: calc((100vw - 96.9%) / -2);

    z-index: -1;
    background-color: hsl(97, 53%, 47%);

    @media (min-width: $tablet-width) {
      top: 23px;
      margin-left: calc((100vw - 97.3%) / -2);
    }

    @media (min-width: 1000px) {
      margin-left: calc((100vw - 98.2%) / -2);
    }

    @media (min-width: $desktop-width) {
      margin-left: calc((100vw - 98.8%) / -2);
    }
  }
}

.owner-data__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;


  row-gap: 20px;
  margin: 0 auto;
  padding: 0 0 24px;
  width: $mobile-width-only - $mobile-gap - $mobile-gap;

  @media (min-width: $tablet-width) {
    width: 92%;
    max-width: $desktop-width;

    row-gap: 22px;
    margin: 0 auto;

    padding: 0 36px 64px 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0 0 67px;

    max-width: $desktop-width - $desktop-gap - $desktop-gap;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 78px;
  }
}


.owner-data__title {
  align-items: center;

  margin: 0;
  margin-left: -20px;
  padding: 0 20px 15px;

  width: 225px;

  background-color: $white-color;

  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 24px;
  line-height: 26px;
  color: $font-color;

  &* {
    clear: both;
  }

  @media (min-width: $tablet-width) {
    padding: 0 40px 56px;
    margin-left: -40px;

    font-size: 36px;
    line-height: 36px;

    width: fit-content;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;

    padding: 0 40px 55px;

    margin-left: -40px;
  }
}

.owner-data__email,
.owner-data__phone {
  position: relative;

  display: flex;
  justify-content: space-between;

  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.owner-data__phone {
  margin-top: -4px;
}

.owner-data__icon {
  position: absolute;
  left: calc(100% - 36px);
}

.owner-data__email-label {
  display: block;

  padding-right: 13px;
  flex-basis: auto;

  color: #444444;

  @media (min-width: $tablet-width) {
    padding-right: 21px;
  }
}

.owner-data__phone-label {
  display: block;

  padding-right: 13px;
  flex-basis: auto;

  color: #444444;

  @media (min-width: $tablet-width) {
    padding-right: 16px;
  }
}

.owner-data__email-input,
.owner-data__phone-input {
  padding: 10px 10px 10px 15px;
  flex-grow: 1;
  flex-basis: 70%;

  color: #444444;

  border: none;
  outline: 1px solid hsl(0, 0%, 80%);

  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 12px 60px 12px 21px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 8px 60px 12px 17px;
  }
}

.owner-data__email-input:focus,
.owner-data__phone-input:focus {
  outline: 2px solid hsl(0, 0%, 27%);
}

.owner-data__email-input:invalid,
.owner-data__phone-input:invalid {
  outline: 2px solid hsl(0, 100%, 75%);
}

.owner-data__email-input:focus ~ .owner-data__icon,
.owner-data__phone-input:focus ~ .owner-data__icon {
  color: hsl(97, 53%, 47%);
}


.owner-data__email-input:invalid ~ .owner-data__icon,
.owner-data__phone-input:invalid ~ .owner-data__icon {
  color: hsl(0, 100%, 75%);
}
