.program-radio {
  padding: 30px 0 22px;
  margin-bottom: 26px;
  color: $font-color;
  border: none;

  border-top: 1px solid rgb(232, 232, 232);
  border-bottom: 1px solid rgb(232, 232, 232);

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0 0 55px;

    padding: 34px 0 16px;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
    margin: 65px 0 60px;
    padding: 0;
  }
}

.program-radio__container {
  display: flex;
  flex-direction: column;

  row-gap: 22px;

  margin: 0 auto;
  padding: 0;
  width: $mobile-width-only - $mobile-gap - $mobile-gap;

  @media (min-width: $tablet-width) {
    width: 82%;
    max-width: $desktop-width;
    padding: 29px;
    margin: 0 auto;

    border: 1px solid rgb(232, 232, 232);
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width - $desktop-gap - $desktop-gap;
    padding: 28px;
    width: 92%;
    margin: 0;
  }
}

.program-radio__weight-loss,
.program-radio__weight-gain,
.program-radio__need-advice {
  position: relative;
}

.program-radio__weight-gain-input,
.program-radio__weight-loss-input,
.program-radio__need-advice-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.program-radio__control-label {
  padding-left: 46px;

  font-family: $font, "Arial", sans-serif;
  font-style: $font-style;
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  color: #222222;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 60px;
  }
}

.program-radio__control-mark {
  position: absolute;

  width: 30px;
  height: 30px;

  left: 3px;
  top: -5px;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;

    left: 1px;
    top: -9px;
  }

  @media (min-width: $desktop-width) {
    left: -1px;
    top: -3px;
  }

  outline: 0;

  border: 1px solid rgba(205, 205, 205, 1);
  border-radius: 20px;
  background: hsl(0, 0%, 100%);
}

.program-radio__weight-loss-input:disabled + .program-radio__control-mark,
.program-radio__weight-gain-input:disabled + .program-radio__control-mark,
.program-radio__need-advice-input:disabled + .program-radio__control-mark,
.program-radio__weight-loss-input:disabled ~ .program-radio__control-label,
.program-radio__weight-gain-input:disabled ~ .program-radio__control-label,
.program-radio__need-advice-input:disabled ~ .program-radio__control-label {
  opacity: 0.3;
}

.program-radio__weight-loss-input:hover + .program-radio__control-mark,
.program-radio__weight-gain-input:hover + .program-radio__control-mark,
.program-radio__need-advice-input:hover + .program-radio__control-mark,
.program-radio__weight-loss-input:hover ~ .program-radio__control-label,
.program-radio__weight-gain-input:hover ~ .program-radio__control-label,
.program-radio__need-advice-input:hover ~ .program-radio__control-label {
  opacity: 0.7;
}

.program-radio__weight-loss-input:focus + .program-radio__control-mark,
.program-radio__weight-gain-input:focus + .program-radio__control-mark,
.program-radio__need-advice-input:focus + .program-radio__control-mark,
.program-radio__weight-loss-input:focus ~ .program-radio__control-label,
.program-radio__weight-gain-input:focus ~ .program-radio__control-label,
.program-radio__need-advice-input:focus ~ .program-radio__control-label {
  opacity: 0.5;
}

.program-radio__weight-loss-input:checked + .program-radio__control-mark::after,
.program-radio__weight-gain-input:checked + .program-radio__control-mark::after,
.program-radio__need-advice-input:checked + .program-radio__control-mark::after {
  position: absolute;
  display: block;

  content: "";

  width: 14px;
  height: 14px;

  left: 7px;
  top: 7px;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;

    left: 10px;
    top: 10px;
  }

  border-radius: 9px;
  background-color: hsl(97, 53%, 47%);
  z-index: 2;
}
