//fonts
$font: "Oswald";
$font-style: normal;
$font-weight: 400;

// colors
$font-color: #000000;
$gray-color: #F2F2F2;
$white-color: #FFFFFF;

//viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 320px;

//gaps

$tablet-gap: 30px;
$desktop-gap: 110px;
$mobile-gap: 20px;
